{% extends "layout.twig" %}

{% block content %}

<div class="bg-glow">

    <!--header-->
    <header>
        <div class="header">
            <div class="container">
                <div class=row>
                    <article class="span2">
                        <h1 class="brand">
                            {{widget('companyheader', 'companyheader', {"defaultlogo": asset('/images/logo.png')})|raw}}
                        </h1>
                    </article>
                    <article class="span10">
                        <div class="nav-collapse nav-collapse_ collapse">
                            {{widget('navigation', 'navigation', {'align': 'left'})|raw}}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </header>

    <div class="global">

        <!--content-->

        <div class="container">
            <div class="row">
                <article class="span4">
                    
                    {{widget('space', 'space', {'height': '60'})|raw}}
                    
                    {{widget('content', 'title1', {content: '<h2>About Us</h2>', lines: 'all'})|raw}}

                    <div class="row">
                        <article class="span2">
                            {{widget('image', 'image1', { 'src': asset('images/page2-img1.jpg'),'fileSize': '580kb', 'imageSize': '768 x 768', 'imageWidth': '768px'})|raw}}
                        </article>
                        <article class="span2">
                            {{widget('image', 'image2', { 'src': asset('images/page2-img2.jpg'),'fileSize': '580kb', 'imageSize': '768 x 768', 'imageWidth': '768px'})|raw}}
                        </article>
                    </div>
                    
                    {{widget('content', 'content_title1', {content: '<h3>dolor, lobortis quis, lobortis dignissim pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus.</h3>', lines: 'all'})|raw}}

                    {{widget('content', 'content', {content: '<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci.</p>', lines: 'all'})|raw}}

                    {{widget('button', 'button1', {italic: false, text:'Read More', 'align':'widget-align-left'})|raw}}

                    {{widget('space', 'space', {'height': '30'})|raw}}

                </article>

                <article class="span4 news new">

                    {{widget('space', 'space', {'height': '60'})|raw}}

                    {{widget('content', 'title2', {content: '<h2>what is new?</h2>', lines: 'all'})|raw}}

                    <div class="badge">
                        {{widget('content', 'month1', {content: 'July', lines: 'all'})|raw}}
                        {{widget('content', 'day1', {content: '20', lines: 'all'})|raw}}
                    </div>

                    <div class="wrapper">

                        {{widget('content', 'content_title2', {content: '<h3>consectetuer adipiscing elit. Praesent vestibulum.</h3>', lines: 'all'})|raw}}

                        {{widget('content', 'text1', {content: '<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>', lines: 'all'})|raw}}

                    </div>

                    <div class="clear"></div>

                    <div class="badge">
                        {{widget('content', 'month2', {content: 'July', lines: 'all'})|raw}}
                        {{widget('content', 'day2', {content: '20', lines: 'all'})|raw}}
                    </div>

                    <div class="wrapper">

                        {{widget('content', 'content_title3', {content: '<h3>molestie lacus Aenean nonummy hendrerit mauris.</h3>', lines: 'all'})|raw}}

                        {{widget('content', 'text2', {content: '<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>', lines: 'all'})|raw}}

                    </div>

                    <div class="clear"></div>

                    <div class="badge">
                        {{widget('content', 'month3', {content: 'July', lines: 'all'})|raw}}
                        {{widget('content', 'day3', {content: '20', lines: 'all'})|raw}}
                    </div>

                    <div class="wrapper">

                        {{widget('content', 'content_title4', {content: '<h3>Phasellus porta Fusce suscipit varius mi.</h3>', lines: 'all'})|raw}}

                        {{widget('content', 'text3', {content: '<p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis nato que penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>', lines: 'all'})|raw}}

                    </div>

                    <div class="clear"></div>

                    {{widget('space', 'space', {'height': '30'})|raw}}

                </article>

                <article class="span4 team">

                    {{widget('space', 'space', {'height': '60'})|raw}}

                    {{widget('content', 'title3', {content: '<h2>our team</h2>', lines: 'all'})|raw}}

                    <div class="row">
                        <article class="span2">
                            {{widget('image', 'image3', { 'src': asset('images/page2-img3.jpg'),'fileSize': '58kb', 'imageSize': '768 x 768', 'imageWidth': '400px'})|raw}}
                            {{widget('content', 'content', {content: '<strong>Mark Johnson</strong>', lines: 'all'})|raw}}                            
                            {{widget('space', 'space', {'height': '20'})|raw}}
                            {{widget('image', 'image4', { 'src': asset('images/page2-img4.jpg'),'fileSize': '58kb', 'imageSize': '768 x 768', 'imageWidth': '400px'})|raw}}
                            {{widget('content', 'content', {content: '<strong>Helen Tompson</strong>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '20'})|raw}}
                        </article>
                        <article class="span2">
                            {{widget('image', 'image5', { 'src': asset('images/page2-img5.jpg'),'fileSize': '58kb', 'imageSize': '768 x 768', 'imageWidth': '400px'})|raw}}
                            {{widget('content', 'content', {content: '<strong>Gloria Mann</strong>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '20'})|raw}}
                            {{widget('image', 'image6', { 'src': asset('images/page2-img6.jpg'),'fileSize': '58kb', 'imageSize': '768 x 768', 'imageWidth': '400px'})|raw}}
                            {{widget('content', 'content', {content: '<strong>John McCoist</strong>', lines: 'all'})|raw}}
                            {{widget('space', 'space', {'height': '20'})|raw}}
                        </article>
                    </div>
                    {{widget('space', 'space', {'height': '30'})|raw}}

                </article>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <article class="span12">

                    {{zone('main')|raw}}

                    {{widget('content', 'title4', {content: '<h2>Our news and events</h2>', lines: 'all'})|raw}}
                    
                    <div class="row">

                        <article class="span3">

                            <div class="blockquote">

                                {{widget('content', 'content', {content: '<p>Sed in lacus ut enim adipiscing aliquet nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.</p>', lines: 'all'})|raw}}

                                {{widget('content', 'content', {content: '<strong>Marta Healy</strong>', lines: 'all'})|raw}}
                                {{widget('content', 'content', {content: '<span>client</span>', lines: 'all'})|raw}}
                                
                            </div>
                            
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                        <article class="span3">

                            <div class="blockquote">

                                {{widget('content', 'content', {content: '<p>Sed in lacus ut enim adipiscing aliquet nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.</p>', lines: 'all'})|raw}}

                                {{widget('content', 'content', {content: '<strong>Patrick Pool</strong>', lines: 'all'})|raw}}
                                {{widget('content', 'content', {content: '<span>client</span>', lines: 'all'})|raw}}
                                
                            </div>
                            
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>
                        
                        <article class="span3">
                            
                            <div class="blockquote">

                                {{widget('content', 'content', {content: '<p>Sed in lacus ut enim adipiscing aliquet nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.</p>', lines: 'all'})|raw}}

                                {{widget('content', 'content', {content: '<strong>Eva Savits</strong>', lines: 'all'})|raw}}
                                {{widget('content', 'content', {content: '<span>client</span>', lines: 'all'})|raw}}
                                
                            </div>
                            
                            {{widget('space', 'space', {'height': '30'})|raw}}

                        </article>

                        <article class="span3">
                            
                            <div class="blockquote">

                                {{widget('content', 'content', {content: '<p>Sed in lacus ut enim adipiscing aliquet nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante.</p>', lines: 'all'})|raw}}

                                {{widget('content', 'content', {content: '<strong>Alan Smith</strong>', lines: 'all'})|raw}}
                                {{widget('content', 'content', {content: '<span>client</span>', lines: 'all'})|raw}}
                                
                            </div>
                            
                            {{widget('space', 'space', {'height': '30'})|raw}}                                                             

                        </article>

                    </div>
                </article>
            </div>
        </div>

    </div>

    <!--footer-->
    <footer>
        <div class="container">
            <div class="row">
                <section class="span12">
                    <div class="row">
                        <article class="span12">
                            {{widget('companyname', 'name', {"business": "Chinahi"})|raw}}
                            {{widget('content', 'copyright_copy', {content: '&copy; &nbsp; 2013 &nbsp; | &nbsp; ', lines: 'all'})|raw}}
                            <a href="#">{{widget('content', 'copyright_link', {content: 'Privacy Policy', lines: 'all'})|raw}}</a>
                            {{widget('space', 'space', {'height': '30'})|raw}}
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </footer>
    
</div>

{% endblock %}